@page "/surveys"


<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            Survey List
        </div>
        <div class="card-body">

            @if (!isReady)
            {
                <p>Loading...</p>
            }
            else
            {
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Survey Name</th>
                            <th>Description</th>
                            <th>Times Taken</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var survey in SurveyList)
                        {
                            <tr>
                                <td><button class="btn btn-sm btn-primary" @onclick="() => TakeSurvey(survey.SurveyId)">Take Survey</button></td>
                                <td>@survey.SurveyName</td>
                                <td>@survey.Description</td>
                                <td>@survey.TotalTimesTaken</td>
                            </tr>
                        }
                    </tbody>
                    
                </table>
            }

        </div>
        <div class="card-footer text-muted">
            <p class="m-0 text-center text-white">Copyright &copy; BlazorBuilt Survey @DateTime.Now.Year</p>
        </div>
    </div>
</div>

@code {
    [Inject]
    public SurveysDbContext Context { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<SurveyAccessor.Models.Survey> SurveyList { get; set; }

    private bool isReady = false;

    protected override async Task OnInitializedAsync()
    {
        SurveyList = await Context.Surveys.ToListAsync();
        isReady = true;
    }

    private void TakeSurvey(int id)
    {
        NavigationManager.NavigateTo($"survey/{id}");
    }
}
