

<div>
    <p>@Message</p>

    <button @onclick="Accept" class="btn btn-primary">OK</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance Modal { get; set; }

    [Parameter]
    public int SurveyOptionId { get; set; }

    [Parameter]
    public string Message { get; set; }

    void Accept() => Modal.CloseAsync(ModalResult.Ok(SurveyOptionId));
    void Cancel() => Modal.CancelAsync();
}
