
<div class="card text-center h-100">
    <div class="card-header">
        Featured Survey
    </div>
    <div class="card-body">
        @if (!isReady)
        {
            <p>Sorry, there is no featured survey right now</p>
        }
        else
        {
            <h5 class="card-title">@Survey.SurveyName</h5>
                 
            {
                <table class="table-borderless">
                    <tbody>
                        @foreach (var survey in Survey.SurveyOptions)
                        {
                            <SurveyOptionItem Item="@survey" TotalSurveyVotes="@Survey.TotalVotes"/>                        
                        }

                    </tbody>
                </table>
            }
    <div class="mt-3">
        <button href="#" class="btn btn-outline-dark" @onclick="()=> TakeSurvey(Survey.SurveyId)">Take Survey</button>
    </div>
            
        }
    </div>
    <div class="card-footer text-muted">
           <p>Created on @(Survey == null ? "" : Survey.CreatedOn.ToShortDateString())</p>              
    </div>
</div>



