
<div class="card text-center h-100">
    <div class="card-header">
        Most Popular Survey
    </div>
    <div class="card-body d-flex justify-content-center flex-column">
        @if (Survey == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="row d-flex flex-row justify-content-center">
                <p class="display-4">@Survey.SurveyName</p>
            </div>
            <div class="row d-flex flex-row justify-content-center">
                <p>Taken @Survey.TotalTimesTaken times</p>
            </div>
        }


    </div>
    <div class="card-footer text-muted">
        <p></p>
    </div>
</div>


@code {



    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    [Inject]
    public SurveysDbContext Context { get; set; }

    private int? TotalTimesTaken { get; set; }
    private string MostPopularSurveyName { get; set; }
    private Survey Survey { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        Survey = await Context.Surveys.OrderByDescending(x => x.TotalTimesTaken).FirstOrDefaultAsync();
    }
}