
@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="1" />
<CustomNav />


<div class="container-fluid h-100">
   
    @Body
</div>

<footer class="bg-dark fixed-bottom">
    <div class="container px-5 py-2"><p class="m-0 text-center text-white">Copyright &copy; BlazorBuilt Survey @DateTime.Now.Year</p></div>
</footer>